* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #f8f9fa;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #f8f9fa;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto; /* o primeiro valor de margin correponde a cima e esquerda e o segundo valor a baixo e direita */
    padding: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    margin-top: 30px;
}

.header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 15px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4CAF50;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: #333;
    font-weight: bold;
}

section {
    padding: 40px 0;
}

.home{
    padding-top: 90px;
    background-color: #e9f7ef;
    display: flex;
}

.home .container{
    display: flex;
    gap: 30px;
    align-items: center;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.resources .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 20px;
    text-align: center;
}

.icon {
    font-size: 3rem;
    margin-bottom: 15px;
}

.about {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
}

.about .btn {
    background-color: #fff;
    color: #4CAF50;
}

footer {
    background-color: #e9f7ef;
    color: #333;
    font-size: smaller;
    padding: 20px 0;
    text-align: center;
}

.menu-btn {
    display: none;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .home .container{
        flex-direction: column;
        text-align: center;
    }
    
    .resources .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .cta {
        padding: 20px;
    }

    .menu-btn {
        display: block;
    }
    
    .menu {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        max-height: 0px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 0 0 0px 20px;
    }

    .menu.active {
        max-height: 200px;
        padding: 10px 0 10px 20px;
    }
}
